[submodule "opentelemetry-proto/src/proto/opentelemetry-proto"]
	path = opentelemetry-proto/src/proto/opentelemetry-proto
	url = https://github.com/open-telemetry/opentelemetry-proto
	branch = tags/v1.0.0
[submodule "opentelemetry-tracing"]
	path = opentelemetry-tracing
	url = git@github.com:jpramosi/tracing-opentelemetry.git
